* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

.header {
    width: 1920px;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 30px 0px 150px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 600px;
    margin-bottom: 30px;
}

.btn {
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700px;
}

.btn:hover {
    cursor: pointer;
    background-color: #b9022a;
}

.header-img {
    margin-top: 20px;
}

.flower-bg {
    display: flex;
    /* align-items: center; */
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    padding-right: 20px;
}

.bg1 {
    background-image: url(pngwing\ 6.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom;
}

.bg2 {
    background-image: url('pngwing\ 5.png');
    background-color: rgba(5, 151, 160, 0.15);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.bg3 {
    background-image: url(pngwing\ 7.png);
    background-color: rgba(71, 125, 17, 0.15);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.featured-flower {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px;

}

.flower-fig {
    display: flex;
    justify-content: center;
    gap: 350px;
}

.img-fig {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

.delivery-section-container {
    margin: 80px;
}

.delivery-section {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    padding: 80px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;
}

.icon {
    margin-left: 45px;
}

.description {
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    width: 594px;
    text-align: left;
    padding: 10px 0px;
}

.primary {
    color: #E55473;
}

.hot-deal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05)
}


.hot-deal-description {
    width: 594px;
    padding: 20px 0px;
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}


.insta-img {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 50px;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 15px;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.latest-deals {
    width: 1440px;
    height: 449px;
    background-image: url("Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.latest-deal-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800px;
    padding-top: 40px;
}

.latest-deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 90px;
}

#email {
    width: 600px;
    height: 50px;
    border-radius: 8px;
    border: none;
    align-items: center;
    margin-left: 250px;
    margin-right: 20px;
    padding: 7px;
}

.footer-section {
    width: 1922px;
    height: 449px;
    background-color: #111010;
    margin-top: 150px;
}

.footer-title {
    color: #FFF;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 25px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400px;
}